@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('Gilroy-Medium.woff2') format('woff2'),
  url('Gilroy-Medium.woff') format('woff'),
  url('Gilroy-Medium.ttf') format('truetype'),
  url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy.eot');
  src: url('Gilroy.eot?#iefix') format('embedded-opentype'),
  url('Gilroy.woff2') format('woff2'),
  url('Gilroy.woff') format('woff'),
  url('Gilroy.ttf') format('truetype'),
  url('Gilroy.svg#Gilroy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('Gilroy-Bold.woff2') format('woff2'),
  url('Gilroy-Bold.woff') format('woff'),
  url('Gilroy-Bold.ttf') format('truetype'),
  url('Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('Gilroy-Semibold.woff2') format('woff2'),
  url('Gilroy-Semibold.woff') format('woff'),
  url('Gilroy-Semibold.ttf') format('truetype'),
  url('Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

