@font-face {
  font-weight: 300;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Light.eot');
  src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff2') format('woff2'), url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype'), url('Gilroy-Light.svg#Gilroy-Light') format('svg');
}

@font-face {
  font-weight: normal;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy.eot');
  src: url('Gilroy.eot?#iefix') format('embedded-opentype'), url('Gilroy.woff2') format('woff2'),
    url('Gilroy.woff') format('woff'), url('Gilroy.ttf') format('truetype'),
    url('Gilroy.svg#Gilroy') format('svg');
}

@font-face {
  font-weight: 100;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Thin.eot');
  src: url('Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Thin.woff2') format('woff2'), url('Gilroy-Thin.woff') format('woff'),
    url('Gilroy-Thin.ttf') format('truetype'), url('Gilroy-Thin.svg#Gilroy-Thin') format('svg');
}

@font-face {
  font-weight: 500;
  font-family: 'Gilroy Med';
  font-style: normal;
  src: url('Gilroy-Medium.eot');
  src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'), url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype'),
    url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
}

@font-face {
  font-weight: 900;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Heavy.eot');
  src: url('Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Heavy.woff2') format('woff2'), url('Gilroy-Heavy.woff') format('woff'),
    url('Gilroy-Heavy.ttf') format('truetype'), url('Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
}

@font-face {
  font-weight: 800;
  font-family: 'Gilroy ExtBd';
  font-style: normal;
  src: url('Gilroy-Extrabold.eot');
  src: url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Extrabold.woff2') format('woff2'), url('Gilroy-Extrabold.woff') format('woff'),
    url('Gilroy-Extrabold.ttf') format('truetype'),
    url('Gilroy-Extrabold.svg#Gilroy-Extrabold') format('svg');
}

@font-face {
  font-weight: 600;
  font-family: 'Gilroy SemBd';
  font-style: normal;
  src: url('Gilroy-Semibold.eot');
  src: url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'), url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype'),
    url('Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
}

@font-face {
  font-weight: 900;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Black.eot');
  src: url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff2') format('woff2'), url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('truetype'), url('Gilroy-Black.svg#Gilroy-Black') format('svg');
}

@font-face {
  font-weight: 200;
  font-family: 'Gilroy Ultra Lt';
  font-style: normal;
  src: url('Gilroy-UltraLight.eot');
  src: url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-UltraLight.woff2') format('woff2'), url('Gilroy-UltraLight.woff') format('woff'),
    url('Gilroy-UltraLight.ttf') format('truetype'),
    url('Gilroy-UltraLight.svg#Gilroy-UltraLight') format('svg');
}

@font-face {
  font-weight: bold;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Bold.eot');
  src: url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'), url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype'), url('Gilroy-Bold.svg#Gilroy-Bold') format('svg');
}

@font-face {
  font-weight: 800;
  font-family: 'Gilroy ExtBd';
  font-style: normal;
  src: url('Gilroy-Extrabold_1.eot');
  src: url('Gilroy-Extrabold_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Extrabold_1.woff2') format('woff2'), url('Gilroy-Extrabold_1.woff') format('woff'),
    url('Gilroy-Extrabold_1.ttf') format('truetype'),
    url('Gilroy-Extrabold_1.svg#Gilroy-Extrabold') format('svg');
}

@font-face {
  font-weight: 600;
  font-family: 'Gilroy SemBd';
  font-style: normal;
  src: url('Gilroy-Semibold_1.eot');
  src: url('Gilroy-Semibold_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold_1.woff2') format('woff2'), url('Gilroy-Semibold_1.woff') format('woff'),
    url('Gilroy-Semibold_1.ttf') format('truetype'),
    url('Gilroy-Semibold_1.svg#Gilroy-Semibold') format('svg');
}

@font-face {
  font-weight: 100;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Thin_1.eot');
  src: url('Gilroy-Thin_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Thin_1.woff2') format('woff2'), url('Gilroy-Thin_1.woff') format('woff'),
    url('Gilroy-Thin_1.ttf') format('truetype'), url('Gilroy-Thin_1.svg#Gilroy-Thin') format('svg');
}

@font-face {
  font-weight: 300;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Light_1.eot');
  src: url('Gilroy-Light_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light_1.woff2') format('woff2'), url('Gilroy-Light_1.woff') format('woff'),
    url('Gilroy-Light_1.ttf') format('truetype'),
    url('Gilroy-Light_1.svg#Gilroy-Light') format('svg');
}

@font-face {
  font-weight: 900;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Heavy_1.eot');
  src: url('Gilroy-Heavy_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Heavy_1.woff2') format('woff2'), url('Gilroy-Heavy_1.woff') format('woff'),
    url('Gilroy-Heavy_1.ttf') format('truetype'),
    url('Gilroy-Heavy_1.svg#Gilroy-Heavy') format('svg');
}

@font-face {
  font-weight: 500;
  font-family: 'Gilroy Med';
  font-style: normal;
  src: url('Gilroy-Medium_1.eot');
  src: url('Gilroy-Medium_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium_1.woff2') format('woff2'), url('Gilroy-Medium_1.woff') format('woff'),
    url('Gilroy-Medium_1.ttf') format('truetype'),
    url('Gilroy-Medium_1.svg#Gilroy-Medium') format('svg');
}

@font-face {
  font-weight: normal;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy_1.eot');
  src: url('Gilroy_1.eot?#iefix') format('embedded-opentype'), url('Gilroy_1.woff2') format('woff2'),
    url('Gilroy_1.woff') format('woff'), url('Gilroy_1.ttf') format('truetype'),
    url('Gilroy_1.svg#Gilroy') format('svg');
}

@font-face {
  font-weight: 900;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Black_1.eot');
  src: url('Gilroy-Black_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black_1.woff2') format('woff2'), url('Gilroy-Black_1.woff') format('woff'),
    url('Gilroy-Black_1.ttf') format('truetype'),
    url('Gilroy-Black_1.svg#Gilroy-Black') format('svg');
}

@font-face {
  font-weight: 200;
  font-family: 'Gilroy Ultra Lt';
  font-style: normal;
  src: url('Gilroy-UltraLight_1.eot');
  src: url('Gilroy-UltraLight_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-UltraLight_1.woff2') format('woff2'), url('Gilroy-UltraLight_1.woff') format('woff'),
    url('Gilroy-UltraLight_1.ttf') format('truetype'),
    url('Gilroy-UltraLight_1.svg#Gilroy-UltraLight') format('svg');
}

@font-face {
  font-weight: bold;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('Gilroy-Bold_1.eot');
  src: url('Gilroy-Bold_1.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold_1.woff2') format('woff2'), url('Gilroy-Bold_1.woff') format('woff'),
    url('Gilroy-Bold_1.ttf') format('truetype'), url('Gilroy-Bold_1.svg#Gilroy-Bold') format('svg');
}
